*{
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(Images/background-image.jpg);
    background-position: center;
    background-size: cover;
}

#my_details{
    text-align: center;
    color: white;
    font-family: Ubuntu,sans-serif;
    border: 4px solid white;
    margin:200px 400px 0px 400px;
    padding: 10px;
    text-transform: uppercase;
}

#name{
    font-size: 24px;
}

#designation{
    margin-top: 10px;
    font-size: 18px;
}

.nav {
    text-align: center;
}
.nav a{
    text-decoration:none;
    font-size: 24px;
    font-family: Archivo,sans-serif;
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border: 3px solid wheat;
    padding: 8px;
    
}

#about_me{
    margin-top: 100px;
}

.topic{
    font-family: Archivo,monospace;
    font-size: 32px;
    text-align: center;
    color: cornsilk;
    font-weight: bold;
}

#hello{
    margin-top: 35px;
}
.intro,#hello{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: Ubuntu,monospace; 
    font-weight: 400;
}

#interest{
    margin-top: 50px;
}

.interest{
    margin-top: 20px;
    list-style-type: none;
    text-align:center;
    color: white;
    font-family: Ubuntu;
    font-size: 24px;
    column-count: 3;  
}

.interest li{
    padding: 0px 10px 10px 10px;
}

#contact{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: Ubuntu;
}

strong.contact-attributes{
    font-weight: bold;
    color: wheat;    
}

.topics{
    padding: 10px;
    font-size: 16px;
}

#img{
    align-content: center;
    width: 
}







